*{
    padding: 0px;
    margin:0px;
    font-family: 'roboto',sans-serif;
}


.top-header{

    position: fixed;
    width: 100%;
    margin-bottom: 300px;
    background-color: dodgerblue;
    z-index: 1;
    top: 0;
    height: 50px;
}

.top-header .nav-header{
    float:right;
    color:#fff;
    padding: 0px 15px;
 
}

.temp-sidebar{
    float:left;

    height: 100%;
   width: 250px;
   transition: 0.3s ease;

}

.sidebar{
    position:fixed;
    float:left;
    top: 0;
    overflow: hidden;
    height: 100%;
    width: 250px;
    background-color: #303030;
    color:#fff;
    white-space: nowrap;
    z-index: 2;
    transition: 0.3s ease;
}

.sidebar .sidebar-header{
    text-align: center;
    padding:20px 0px 20px;
    opacity: 1;
}

.sidebar-menu{
    list-style: none;
    padding:0px;
}

ul a{
    text-decoration: none;
    color:#fff;
    padding-left: 12px;
    font-size: 14px;
}

ul a:hover{
    color:#fff;
}

i{
    padding-right: 10px;
}

li:hover{
    background-color: #606060;
    color:#fff;
}

.sidebar .sidebar-menu li{
    line-height: 50px;
    padding: 0px;
    transition: 0.3s ease;
}


.btn-hide{
    cursor: pointer;
    margin-top:10px;

    float:right;
    
}

.top-header img{
    object-fit: cover; 
    border-radius: 20px; 
    width: 40px;
    height: 40px;
    float: right;
    margin-top: 5px;
    
}

.top-header .btn{
    background-color: dodgerblue;
    border:none;
}
